<!-- <%-include('header.ejs')%>  ----this is for kind of routing, it will directly import header.ejs in this file -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h1>these are the people you are following</h1>
    <% for (var i=0;i<result.length;i++){
        %>
        <p><%=result[i].fname%></p>
    <%}%>
    </div>
    <h2><a href="/home">Go back</a></h2>
</body>
</html>

